#pragma once

#define WIFI_SSID "your_wifi_name"
#define WIFI_PASSWORD "your_wifi_password"

#define FIREBASE_HOST "your-project-default-rtdb.firebaseio.com"
#define FIREBASE_SECRET "your_firebase_legacy_token"
